@use 'reset';
@use 'font';
@use 'color';


body{
    font-size: 15px;
    font-family: font.$poppins;
}


.main-container{
   display: grid;
   width: min(95%, 70rem);
   grid-auto-columns: 1fr;
   gap:1rem; 
   margin:5rem auto;
   grid-template-areas:
   'header'
   'one'
   'two'
   'three'
   'four';
}
.header{
    text-align: center;
    &__content{
        margin:1rem 0;
        padding:0 .7rem;
        font-size: 1rem;
        font-weight: 400;
    }
    &-top-text{
        font-weight: 400;
        font-size: 1.6rem;
    }
    &__title{
        font-weight: 700;
        font-size: 1.6rem;
    }
}
.card{
    @mixin border-top-color ($color){
        border-top-color: $color;
    }
    border-top-style: solid;
    border-top-width: 5px;
    padding: 1.5rem;
    border-radius: 5px;
    margin:1rem;
    box-shadow: -2px 7px 17px 1px rgba(0,0,0,0.20);
    text-align: right;
    &__icon{
        max-width: 100%;
        margin: .5rem 0; 
    }
    &__title{
        text-align: left;
    }
    &__content{
        text-align: left;
        margin:.5rem 0;
    }
    &-cyan{
        @include border-top-color(color.$cyan); 
    }
    &-red{
        @include border-top-color(color.$red); 
    }
    &-orange{
        @include border-top-color(color.$orange); 
    }
    &-blue{
        @include border-top-color(color.$blue); 
    }
}

@media screen and (min-width: 900px) {
    .card{
        background-color: cadetblue;
    }
}


//Footer
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
